@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
}

/* Enable dark mode when .dark is on <html> */
@layer base {
  html.dark {
    color-scheme: dark;
  }
}
